body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #D8E9F0;
}

.container {
  margin: auto;
  width:80%;
  text-align: center;
  padding-top: 50px;
}

.food-card{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.header{
  color:#29252C;
  font-size: 5rem;
}
/* card divs */
.card{
  flex: 1 1 45%;
  display: flex;
  justify-content: space-between;
  background-color: #E9D5DA;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transition: transform 2s linear, background-color 1s linear;
}
.card:hover{
  background-color: #827397;
  transform: scale(1.1);
}
.card-details{
  padding-right:20px;
}

.name, .rating, .des{
  display: flex;
}
.label{
  color:#827397;
  text-align: left;
  width:20%;
}
.movie-name, .movie-rating, .movie-des{
  color:#363062;
  margin-left: 2px;
  font-weight: 800;
}
.movie-des{
  font-weight: lighter;
  font-size: 0.9rem;
  text-align: justify;
}
.img{
  /* padding: 20px; */
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1s linear;
}

.img:hover{
  transform: scale(1.2);
}
